<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-onfido" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OnfidoPlugin</name>
    <js-module name="OnfidoPlugin" src="www/OnfidoPlugin.js">
        <clobbers target="cordova.plugins.OnfidoPlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OnfidoPlugin">
                <param name="android-package" value="cordova-plugin-onfido.OnfidoPlugin"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/OnfidoPlugin.java" target-dir="src/cordova-plugin-onfido/OnfidoPlugin"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OnfidoPlugin">
                <param name="ios-package" value="OnfidoPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/ios/OnfidoPlugin.m"/>
    </platform>
</plugin>